# Banco de dados
DB_NAME=seu_banco
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# JWT
JWT_SECRET=sua-chave-secreta-muito-longa
JWT_EXPIRATION=86400000

# DataInitializer
ADMIN_EMAIL=admin@exemplo.com
ADMIN_PASSWORD=senha_admin
USER_EMAIL=user@exemplo.com
USER_PASSWORD=senha_user